#map-canvas {
  padding: 0.5em 0;
  overflow: hidden;
  height: 30rem; 
  width: 70%;
  margin: 0;
  display:inline-block;
}

#location-names {
  width:28%;
  display:inline-block;
  vertical-align:top;
  font-size:2rem;
}

#location-names p {
  margin:0;
}